
*{
    padding: 0px;
    margin: 0px;
    --fuente: arial;
}

.cuerpo{
    margin-left: 80px;
    font-family: var(--fuente);
}

.containerBuscador{
text-align: center;
}

.inputBuscar{
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border: solid 1px black;
    height: 40px;
    width: 500px;
    outline: none;
    margin-top: 20px;
}

.btnBuscar{
    position: absolute; 
    border-color: transparent;
    border-radius: 0 5px 5px 0;
    height: 40px;
    width: 50px;
    padding: 10px;
    margin-top: 20px;
    border: solid 1px black;
    cursor: pointer;
}

.row {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    max-width: 33%; /* Ancho máximo de las tarjetas */
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto; /* Auto en el eje horizontal para centrar */
}

.card {
    max-width: 350px;
    height: 350px;
    border: 1px solid #ddd;
    border-radius:5px;
    overflow: hidden;
    box-shadow: 0 2px 4px #0000006c;
    margin: 10px;
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor sin deformarla */
    position: relative;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s;
    border-radius: 8px;
}

.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenidoCard {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 25px; 
    box-sizing: border-box; 
/*     opacity: 0; 
    transition: opacity 0.7s; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .card:hover .contenidoCard{
    opacity: 1; 
}  */
.stockCard{
    background-color: #b5daff;
    border-radius: 5px;
    color:#717171
}

.pagination{
    text-align: center;
    display: block;

}
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}


.pagination a.active {
    background-color: #b5daff;
    color: white;
    margin: 15px 0;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


#numPag{
    padding: 5px;
    border: solid 1px;
    border-radius: 20%;
    transition: transform 0.3s;
}

#numPag:hover{
    color:#b5daff;
    background-color: black;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-left: 80px;
    padding-top: 80px;

}

.titulo-Modal{
    /* text-align: center; */
    font-family: 'Trebuchet MS';
    margin-left: 30%;
    margin-bottom: 40px;
}

.titulo-Modal h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(26, 25, 25);
}


.contenedor-form-modal{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 90%;
    padding: 10px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    position: relative;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 60px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el slideshow */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

/* Animaciones */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

